.game-tile {
    background-image: url('/potato.png');
    background-color: saddlebrown;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    color: black;
    width: 30px;
    height: 30px;
    user-select: none;
    border: 2px black solid;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.unrevealed {
    background: green;
}

.color-0 {
    color: #00000044;
}

.color-1 {
    color: #4caf50;
}

.color-2 {
    color: #2196F3;
}

.color-3 {
    color: #f44336;
}